-- =========================================================
-- Sales Performance — Table Schema (PostgreSQL)
-- =========================================================
-- Source: Dashboard_SalesPerformance.xlsx (Sales_Dashboard sheet)
-- 500 orders | Jan 2025 - Dec 2025
-- =========================================================

DROP TABLE IF EXISTS sales;

CREATE TABLE sales (
    order_id        VARCHAR(10) PRIMARY KEY,
    order_date      DATE NOT NULL,
    customer_name   VARCHAR(50) NOT NULL,
    product         VARCHAR(50) NOT NULL,
    category        VARCHAR(30) NOT NULL,
    region          VARCHAR(20) NOT NULL,
    salesperson     VARCHAR(30) NOT NULL,
    quantity        INTEGER NOT NULL CHECK (quantity > 0),
    unit_price      NUMERIC(10,2) NOT NULL,
    total_sales     NUMERIC(12,2) NOT NULL,
    cost_price      NUMERIC(10,2) NOT NULL,
    profit          NUMERIC(12,2) NOT NULL,
    payment_mode    VARCHAR(20) NOT NULL,
    order_status    VARCHAR(20) NOT NULL
);

CREATE INDEX idx_sales_region       ON sales(region);
CREATE INDEX idx_sales_category     ON sales(category);
CREATE INDEX idx_sales_salesperson  ON sales(salesperson);
CREATE INDEX idx_sales_order_date   ON sales(order_date);
CREATE INDEX idx_sales_order_status ON sales(order_status);

-- Optional bonus table used in the "JOIN" question (Section H)
DROP TABLE IF EXISTS region_targets;

CREATE TABLE region_targets (
    region          VARCHAR(20),
    quarter         INTEGER,
    target_revenue  NUMERIC(12,2),
    PRIMARY KEY (region, quarter)
);

INSERT INTO region_targets (region, quarter, target_revenue) VALUES
('East', 1, 1400000), ('East', 2, 1300000), ('East', 3, 1300000), ('East', 4, 1400000),
('West', 1, 1200000), ('West', 2, 1150000), ('West', 3, 1150000), ('West', 4, 1200000),
('North',1, 1150000), ('North',2, 1100000), ('North',3, 1100000), ('North',4, 1150000),
('South',1, 1300000), ('South',2, 1250000), ('South',3, 1250000), ('South',4, 1300000);


